<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brogrammers.jonosokti">

    <application
        android:name=".AppInitializer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.IntroSliderActivity"/>
        <activity android:name=".views.OtpVerificationActivity"/>
        <activity android:name=".views.RegistrationActivity" />
        <activity android:name=".views.LoginActivity" />
        <activity android:name=".views.ConfirmOrderActivity" />
        <activity android:name=".views.FilupAddressActivity" />
        <activity android:name=".views.SelectLocationActivitiy" />
        <activity android:name=".views.SelectServiceAndProviderActivity" />
        <activity android:name=".views.ScheduleActivity" />
        <activity android:name=".Order_Details_Activity" />
        <activity android:name=".views.SingleServiceSubCategoriesActivity" />
        <activity android:name=".views.AllServicesActivity" />
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.SplashScreen" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>